
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

header{
    position: fixed;
    top: 0;
    padding: 0 30px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background: black;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, .4);
    transition: .5s;
    z-index: 3;
}
.navLogo h1{
    padding-top: 18px; 
    font-family: 'Fugaz One', cursive !important;
}
.logo{
    margin: 0 2px;
    display: flex;
    padding-left: 4px;
}

.navUl{
    position: relative;
    bottom: 3.1em;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
    transition: .5s;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
}
.navUl li{
    list-style: none;
}
.navLogo a{
    text-decoration: none;
    cursor: pointer;
}
.navUl li a{
    position: relative;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: .5s;
}
.navUl li a:hover{
    color: #26C485;
}
.navLinkActive a{
    color: #26C485 !important;
}

.navLinkAct a:active,
.navLinkAct a.active{
    color: #26C485;
}

.toggle{
    display: none;
    position: absolute;
    right: 10px;
    top: 26px;
    padding: 5px;
    cursor: pointer;
}
@media screen and (max-width: 800px){
    header{
        padding: 0 0;
        background: black;
    }
    header .navUl{
        width: 100%;
        top: 20px;
        display: none;
    }
    header ul.active{
        display: block;
    }
    header .navUl li a{
        margin: 0;
        display: block;
        text-align: center;
        color: white;
        background: rgba(0, 0, 0, .9);
        z-index: 1;
    }
    .toggle{
        display: block;
        cursor: pointer;
    }
}
@media screen and (min-width: 1150px){
    .searchLi{
        display: none;
    }
}
@media screen and (min-width: 801px) and (max-width: 1150px){
    .SearchBar{
        position: relative;
        right: 15rem;
        bottom: 2.8rem;
    }
   
}

@media screen and (max-width: 555px){
    .navLogo{
        display: none;
    }
    .SearchBar{
        position: relative;
        bottom: 0.4rem;
        right: 1.5rem;
    }
    header .navUl{
        top: 20px;
    }     
}
@media screen and (min-width: 556px) and (max-width: 800px){
    header .navUl{
        top: 0px;
    }
}